#slider {
	overflow: hidden;
}
body {
	background-image:url(assets/background.jpg);
	background-repeat :repeat-y;} 

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
  
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slidercontainer {
	height: 33.333333333%;
	width: auto; 
	background-color: darkred;
}

#slider figure:hover {
	animation-play-state: paused; 
}
#slider figure img {
	width: 25%;
	height : auto;
	float: left;
	object-fit: cover;
	padding: 0;
	max-width: 100%;
	max-height: 100%;

}
.event-date {
    width: 65px;
}
.event-date .month {
    float: left;
    font-size: 17px;
    border-radius: 3px 3px 0 0;
    text-transform: uppercase;
    background-color: #900016;
    color: #fff;
    width: 65px;
    text-align: center;
}
.event-date .day {
    background-color: #f2f2f2;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 29px;
}
.event-date .year {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 16px;
}
.div {
	display: block;
}
.show-all-button {
    height: 22.62px;
    bottom: 0;
    margin-bottom: 15px;
    position: absolute;
    right: 0;
}
.show-all-button a {
    color: white;
}
.show-all-button h5 {
    font-size: 15px;
    margin-right: 20px;
    padding: 3px 10px;
    float: right;
    margin-top: 8px;
    background-color: darkred;
    background-size: cover;
    font-weight: 400;
    font-family: 'Ubuntu',sans-serif !important;
}
a {
    text-decoration: none;
    background-color: transparent;
}
.show-all-button a:hover {
	color: gainsboro;
	background-color: transparent;
	text-decoration: underline;
  }
 a:hover {
	background-color: transparent;
	text-decoration: none;
  }
  .duyuru a:hover{
      text-decoration: none;
      color: dimgray;
  }
  .duyuru a{
      color: darkred;
  }
  .haber a:hover{
    text-decoration: none;
    color: dimgray;
  }
  .haber a{
    text-decoration: none;
    color: darkred;
    text-align: end;
  }
  .haber .card-header{
      background-color: #ededed;
  }
  img{
      max-width: 100%;
      object-fit: contain;
  }
 
