#slider {
	overflow: hidden;
    z-index: 1;
}
body {
	background-image:url(assets/background.jpg);
	background-repeat :repeat-y;} 

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
.zindex{
    z-index: 1;
    
}
.footer{
    height: 400px;
    width: 100%;
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
    z-index: 1;
}
.container1{
    z-index: 1;
}
#slidercontainer {
	height: 33.333333333%;
	width: auto; 
	background-color: darkred;
    z-index: 1;
}

#slider figure:hover {
	animation-play-state: paused; 
}
#slider figure img {
	width: 25%;
	height : auto;
	float: left;
	object-fit: cover;
	padding: 0;
	max-width: 100%;
	max-height: 100%;

}
.event-date {
    width: 65px;
}
.event-date .month {
    float: left;
    font-size: 17px;
    border-radius: 3px 3px 0 0;
    text-transform: uppercase;
    background-color: #900016;
    color: #fff;
    width: 65px;
    text-align: center;
}
.event-date .day {
    background-color: #f2f2f2;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 29px;
}
.event-date .year {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 16px;
}
.div {
	display: block;
}
.show-all-button {
    height: 22.62px;
    bottom: 0;
    margin-bottom: 15px;
    position: absolute;
    right: 0;
}
.show-all-button a {
    color: white;
}
.show-all-button h5 {
    font-size: 15px;
    margin-right: 20px;
    padding: 3px 10px;
    float: right;
    margin-top: 8px;
    background-color: darkred;
    background-size: cover;
    font-weight: 400;
    font-family: 'Ubuntu',sans-serif !important;
}
a {
    text-decoration: none;
    background-color: transparent;
}
.show-all-button a:hover {
	color: gainsboro;
	background-color: transparent;
	text-decoration: underline;
  }
 a:hover {
	background-color: transparent;
	text-decoration: none;
  }
  .duyuru a:hover{
      text-decoration: none;
      color: dimgray;
  }
  .duyuru a{
      color: darkred;
  }
  .haber a:hover{
    text-decoration: none;
    color: dimgray;
  }
  .haber a{
    text-decoration: none;
    color: darkred;
    text-align: end;
  }
  .haber .card-header{
      background-color: #ededed;
  }
  img{
      max-width: 100%;
      object-fit: contain;
  }
  .footer .map {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.person{
    background-image: url(assets/person-background.jpg);
    background-repeat: no-repeat;
}
.person-img{
    border-radius: 100px;
}
.team-member{
  padding: 50px 0px;
}
.member-container{
  max-width: 1200px;
  margin: 10px auto;
}
.item-list{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}
.item{
  flex: 0 0 31%;
  max-width: 100%;
  height: 240px;
  margin-bottom: 20px;
  background:#900016;
  position: relative;
  overflow: hidden;
  border-radius: 10px ;
  z-index: 1;
}
.img-box{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.img-box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.img-box h5{
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 35px;
  text-align: center;
  bottom: 0;
  left: 0;
  line-height: 35px;
  background-color: rgba(92, 3, 3, 0.582);
  color: #ffff;
  transition: 0.3s;
}
.item:hover .img-box h5{
  transform: scale(0);
  opacity: 0;
}
.item .info{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 90%;
height: 90%;
background: rgba(51, 0, 3,0.7);
z-index: 1;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 10px;
padding: 10px 15px;
transform: scale(0);
opacity: 0;
transition: 0.3s;
overflow: hidden;
}
.item:hover .info{
  transform: scale(1);
  opacity: 1;
}
.item .info h6{
  font-weight: 600;
  color:#fff;
  text-align: center;
}
.item .info span{
  color:#fff;
  font-weight: 500;
  margin: 7px 0;
  font-size: 14px;
  text-align: center;
}
.item .info p{
  font-weight: 500;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.item .info .social{
  margin-top: 5px;
}
.item .info .social ul li{
  list-style: none;
  display: inline-block; 
}
.item .info a{
  text-decoration: none;
  color: #fff;
}
.item .info .social ul li a{
  text-decoration: none;
  background: #7E0001;
  width: 30px;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.item .info .social ul li a:hover{
  transform: translateY(6px);
}
.item .info .social ul li a{
  line-height: 30px;
}
 @media  screen and (max-width: 981px){
  .member-container{
    padding: 0 20px;
  }
  .item-list{
    justify-content: center;
    align-items: center;
  }
  .item{
    flex: 0 0 30%;
    max-width: 30%;
    margin: 1%;
  }

}

@media screen and (max-width:791px){
  .item-list{
    justify-content: center;
    align-items: center;
  }
  .item{
    flex: 0 0 48%;
    max-width: 48%;
    margin: 1%;
  }
}
@media screen and (max-width:504px){
  .item-list{
    justify-content: center;
    align-items: center;
  }
  .item{
    flex: 0 0 90%;
    max-width: 90%;
    margin: 1%;
  }
} 