#slider {
	overflow: hidden;
}
body {
	background-image:url(assets/background.jpg);
	background-repeat :repeat-y;} 

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
  
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slidercontainer {
	height: 33.333333333%;
	width: auto; 
	background-color: darkred;
}

#slider figure:hover {
	animation-play-state: paused; 
}
#slider figure img {
	width: 25%;
	height : auto;
	float: left;
	object-fit: cover;
	padding: 0;
	max-width: 100%;
	max-height: 100%;
}
