.container2  {
     
     -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: fixed;
    border-top: 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding:15px
    
    
  
  }